.venv
.venv
backend/__pycache__/
backend/*.pyc
frontend/node_modules/
.DS_Store
.env
.vscode/
.idea/
logs/
*.log
coverage/

backend/app/__pycache__
backend/app/routers/__pycache__/
backend/app/models/__pycache__/
backend/app/schemas/__pycache__/
backend/app/services/__pycache__/
backend/app/utils/__pycache__/
backend/app/crud/__pycache__/